<!DOCTYPE html>
<html>
  <head>
    <title>Movie Night Dashboard</title>
    <link rel="stylesheet" type="text/css" href="../static/styles.css" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <div class="fluid-container text-bg-dark">
      <div
        class="banner d-flex flex-column align-items-center justify-content-center text-white px-3 mb-3"
      >
        <h1>Project 4: NAPLAN Student Achievement</h1>
        <p>
          Presented by
          <span class="text-bg-secondary text-fs-13 rounded-3 px-2 py-1"
            ><i class="fa fa-user me-1" aria-hidden="true"></i> Billie</span
          >
          <span class="text-bg-secondary text-fs-13 rounded-3 px-2 py-1"
            ><i class="fa fa-user me-1" aria-hidden="true"></i> Enessa</span
          >
          <span class="text-bg-secondary text-fs-13 rounded-3 px-2 py-1"
            ><i class="fa fa-user me-1" aria-hidden="true"></i> Rachel</span
          >
          <span class="text-bg-secondary text-fs-13 rounded-3 px-2 py-1"
            ><i class="fa fa-user me-1" aria-hidden="true"></i> Minh</span
          >
        </p>
        <div class="d-flex mt-4">
          <a
            href="/"
            class="h5 text-light bg-transparent rounded-2 px-3 py-2 shadow-sm"
            >DATA OVERVIEW</a
          >
          <a
            href="/dashboard"
            class="h5 text-light bg-danger rounded-2 px-3 py-2 shadow-sm"
            >DATA EXPLORATION</a
          >
        </div>
      </div>

      <div class="mx-3 pb-5">
        <div class="d-flex flex-column gap-5 my-5">
          <div class="row">
            <div class="col-8">
              <div
                class="m-2 border w-100 h-100 shadow-sm rounded-3 p-3 text-bg-light"
              >
                <canvas id="enrolled-students"></canvas>
              </div>
            </div>
            <div class="col-4">
              <div
                class="m-2 border w-100 h-100 shadow-sm rounded-3 p-3 border-0"
              >
                <canvas id="enrolled-students-pie"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div
                class="p-3 w-100 h-100 text-bg-primary bg-gradient rounded-3 d-flex flex-column align-items-center justify-content-center shadow-sm statistic m-2 rounded-3 p-3"
              >
                <div
                  class="d-flex flex-column justify-content-center align-items-center"
                >
                  <h2 class="text-center">ACT</h2>

                  <div class="text-center">
                    the state with the highest average score
                  </div>
                  <div class="fs-1 text-center">515.471</div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div
                class="m-2 border w-100 h-100 shadow-sm rounded-3 p-3 text-bg-light"
              >
                <canvas id="mean-scores"></canvas>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-8">
              <div
                class="m-2 border w-100 h-100 shadow-sm rounded-3 p-3 text-bg-light"
              >
                <canvas id="mean-scores-by-state"></canvas>
              </div>
            </div>
            <div class="col-4">
              <div
                class="p-3 w-100 h-100 text-bg-primary bg-gradient rounded-3 d-flex flex-column align-items-center justify-content-center shadow-sm statistic m-2 rounded-3 p-3"
              >
                <div
                  class="d-flex flex-column justify-content-center align-items-center"
                >
                  <h2 class="text-center">NT</h2>

                  <div class="text-center">
                    the state with the lowest average score
                  </div>
                  <div class="fs-1 text-center">429.906</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div
                class="p-3 w-100 h-100 text-bg-primary bg-gradient rounded-3 d-flex flex-column align-items-center justify-content-center shadow-sm statistic m-2 rounded-3 p-3"
              >
                <div
                  class="d-flex flex-column justify-content-center align-items-center"
                >
                  <h2 class="text-center">YEAR LEVEL 3</h2>

                  <div class="text-center">
                    has the significant increase of the test score
                  </div>
                  <div class="fs-1 text-center">389 - 412</div>
                </div>
              </div>
            </div>
            <div class="col-8">
              <div
                class="m-2 border w-100 h-100 shadow-sm rounded-3 p-3 text-bg-light"
              >
                <canvas id="mean-scores-by-year-level"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="../static/dashboard.js"></script>
  </body>
</html>
